<article class="post">
  <div class="title">
    <a href="/post/{{topic}}/{{id}}" target="_blank">{{title}}</a>
  </div>
  <div class="content">
    Posted by {{user.username}} on {{format_date created_at}} | 
    <a href="/post/{{topic}}/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>