<article class="post">
  <div class="title">
    <div class="h5">{{title}}</div>
    <p>{{post_content}}</p>
  </div>
  <div class="content">
    Posted by {{user.first_name}} {{user.last_name}} on on {{format_date created_at}} | 
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>