<article class="post padding-right">
  <div class="title">
    <div class="h5"><span class="blue"><a class="word-overflow" href="/api/posts/{{id}}">{{title}}</a></span></div>
    <p>{{post_content}}</p>
  </div>
  <div class="content">
    Posted by <span class="grey">{{user.first_name}} {{user.last_name}}</span> on <span class="grey">{{format_date created_at}}</span> | 
    <a href="/api/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>